<div class="container border p-3">
    <div class="d-flex flex-row" style="align-items:baseline;">
        <h5><span class="fa fa-check-square-o"></span><b>Payment</b></h5>
        <span class="d-flex" style="font-size: 1.2rem;" >&nbsp;<i class="bi bi-check-circle green"></i></span>
        <p class="d-flex justify-content-end" style="font-size: .5rem; align-items:center;">offical card of<b><i>Tickemaster &nbsp;</i></b> <img width="4%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1200px-American_Express_logo_%282018%29.svg.png" alt=""></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Use Credit / Debit</h6>
            </div>
        </div>
    </div>
    <div class="p-3 mb-3 bg-grey">
        <div class="row">
            <div class="col-1">
                <div class="pt-2 pr-2">
                    <input type="radio" name="radio1" id="r1" checked> 
                </div>
            </div>
            <div class="col-2 pt-1">
                <img src="../../../assets/images/58482363cef1014c0b5e49c1.png" class="visa_logo">
            </div>
            <div class="col">
                <div class="pt-2">
                    <h5 class="mb-2">Visa - 999</h5>
                    <h6 class="mb-2">User name | exp. 11/20</h6>
                    <a href="#" style="text-decoration: none">Edit</a> | <a href="#" style="text-decoration: none">Delete</a>
                </div>
            </div>
        </div>
        <div class="row"  style="align-items:center;">
            <div class="col-1"></div>
            <div class="col-md-12 col-lg-3 col-sm-12 col-xs">
                <div class="pt-4">
                    <div>
                        <p class="mb-2">Security Code</p>
                    </div>
                    <div class="input-group mb-3 border">
                        <input type="password" class="form-control border-0" maxlength="3">
                        <div class="input-group-append border-0" style="height: 60px;">
                          <span class="input-group-text border-0" style="background-color: white; height: 60px;"><i class="bi bi-check-circle green" style="font-size:xx-large"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pr-0 col-lg col-sm-12 col-xs">
                <div class="mt-4 d-flex flex-row"  style="align-items:center;">
                    <span style="font-size: 4rem; color: gray;" >&nbsp; <i class="bi bi-credit-card"></i></span>
                    <span class="pt-2">&nbsp; 3 digits on back of the card</span>
                </div>      
            </div>
        </div>
       
    </div>
    <div class="d-flex flex-row" style="align-items:center;">
        <div class="col-1">
            <div class="pt-2 pr-2">
                <a href="#" style="font-size: 2.2rem;"><i class="bi bi-plus"></i></a>
            </div>
        </div>
        <div class="col-4 col-xl-2">
            <div class="pt-2 pr-2">
                <span style="font-size: 4rem; color: gray;" >&nbsp; <i class="bi bi-credit-card-2-front"></i> </span>
            </div>
        </div>
        <div class="col">
            <div class="pt-2 pr-2">
                <a href="#"  style="text-decoration: none; font-size: x-large;">Add new card</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="align-items:center;">
        <div class="col-12">
            <div class="pt-2 pr-2">
                <h4>Or Pay With</h4>
            </div>
        </div>  
    </div>
    <div class="row" style="align-items:center;">
        <div class="col-12">
            <div class="pt-2 pr-2">
                <span>By using a digital wallet and continuing past this page, you have read and are accepting the <a href="#"  style="text-decoration: none;">Terms of Use.</a></span>
            </div>
        </div>
      
    </div>

</div>