<div class="container border p-3">
    <div class="d-flex flex-row" style=" align-items:baseline;">
        <h5><span class="fa fa-check-square-o"></span><b>Delivery</b></h5>
        <span  style="font-size: 1.2rem;" >&nbsp;<i class="bi bi-check-circle green"></i></span>
    </div>
    <h4>Mobile Entry - Free</h4>
    <div class="container p-0">
        <p class="col-12 mb-0 light-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p class="col-12 light-grey">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam sit voluptatem accusantium.</p>
    </div>  
</div>