<div>
    <h1>Simple Angular test</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
            <label for="">Title</label>
            <select formControlName="title">
                <option> select an option</option>
                <option *ngFor="let title of titles" [value]="title.name" [selected]="(title.isDefault == true) ?'selected':''"> {{title.name}}</option>
            </select>
        </div>
        <div class="field">
            <label>First Name</label>
            <input formControlName="firstName" type="text" placeholder="first name">
        </div>

        <div class="field">
            <label>Second Name</label>
            <input formControlName="secondName" type="text" placeholder="Second name">
        </div>
        <div class="error" *ngIf="form.touched && form.status == 'INVALID'">
            *campo obligatorio
        </div>
        <div class="">
            <input formControlName="termsAccepted" type="checkbox" name="" id=""/>
            <label for="">I accept the terms & conditions</label>
        </div>
        <div class="button-panel">
            <button [disabled]="form.value.termsAccepted ? false:true">Submit</button>
        </div>
    </form>
</div> 
