
<div class="rounded d-flex flex-column border p-3">
    <div class="p-2 d-flex sb">
        <div class="col-8"><h4>Total</h4></div>
        <div class="ml-auto"><h4>$519.76</h4></div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><h5>Tickets</h5></div>
    </div>
    <div class="p-2 d-flex sb pt-0">
        <div class="col-8"><h6>Resales Tickets: $229.00 x 2 </h6></div>
        <div class="ml-auto">$458.00</div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><h5>Notes From seller</h5></div>
    </div>
    <div class="p-2 d-flex sb pt-0">
        <div class="col-12">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam sit voluptatem accusantium.</div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><h5>Fees</h5></div>
    </div>
    <div class="p-2 d-flex sb pt-0 pb-0">
        <div class="col-8">Service Fee: $44.08 x 2</div>
        <div class="ml-auto">$88.16</div>
    </div>
    <div class="p-2 d-flex sb pt-0">
        <div class="col-8">Order Processing Fee</div>
        <div class="ml-auto">$2.95</div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><h5>Delivery</h5></div>
    </div>
    <div class="p-2 d-flex sb pt-0">
        <div class="col-8">Mobile Entry</div>
        <div class="ml-auto">Free</div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><a href="#" style="text-decoration: none;">Cancel Order</a></div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><h5>*All Sales Final - No Refunds</h5></div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="row">
            <div class="col-1">
                <input type="checkbox">
            </div>
            <div class="col-11" style="align-items:center; padding-left: 0px;">
                <h6>I have read current to the current <a href="#">Terms of Use.</a></h6>
            </div>    
        </div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-12">
            <button type="button" class="btn btn-success" style="width: 100%;">Place Order</button>
        </div>
    </div>
    <div class="p-2 d-flex sb pb-0">
        <div class="col-8"><span style="font-size: 10px;">*Exceptions may apply, see our terms of use.</span></div>
    </div>
</div>